<!-- Sidebar inner slimmscroll -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <!-- MAIN -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">DASHBOARD</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="grid"></i>
                <span>Super Admin</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li>
                  <a href="/">
                    <span>Dashboard Admin</span>
                  </a>
                </li>
                <li>
                  <a href="subscriptions.html">
                    <span>Subscriptions</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-tunggal"><a href="sales-dashboard.html"><i data-feather="trending-up"></i> <span> Sales
                  Dashboard</span> </a></li>
            <li class="menu-tunggal"><a href="kalkulator-dashboard.html"><i data-feather="percent"></i> <span>
                  Kalkulator
                  Dashboard</span> </a></li>
            <li class="menu-tunggal"><a href="analytics-dashboard.html"><i data-feather="bar-chart"></i> <span>Analytics
                  Dashboard </span> </a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- /Sidebar -->